%h1 Manage Units

%p
  Use this page to add, edit, or delete hospital units. Click the unit name to modify details.
  
- if @units
  %h2 Current units
  %table{:style=>'width:400px;'}
    %thead
      %tr
        %th name
        %th{:class=>'delete-button'}
    %tbody
      - @units.each do |unit|
        %tr{:class => cycle("even", "odd")}
          %td= link_to(unit.name, edit_unit_path(unit))
          %td= button_to 'Delete', unit_path(unit), :method => 'delete', :confirm => 'Are you sure?', :id => "#{unit.name}_delete"
- else
  %h2 Imposter! You are not an admin.

= link_to 'Add a unit', new_unit_path

