%h2 Sign in for Nurses

#welcome
  %p
    Sign in to schedule your vacation hours. If you don't know
    your login/password, please contact your nurse manager.
#flash
  = render 'shared/flash', :flash => flash
#form
  = render 'shared/login'
  = link_to 'Sign in as administrator', new_admin_session_path
  
