%h1 Calendar

#calendar-links
  #add-seg
    %p
  #print-link
    %p
      = link_to_function("Print calendar", "javascript:print()")

#calendar
  - counter = 0
  - @strips.each do |s|
    - @event_strips = s
    - @year  = @year_month[counter][0]
    - @month = @year_month[counter][1]
    - @shown_month = Date.civil(@year, @month)
    = raw(admin_event_calendar)
    - counter += 1
    - if counter < 12
      %br{:style => "page-break-before:always"}
