:javascript
  $(function() {
    var dates = $( "#event_start_at, #event_end_at" ).datepicker({
      defaultDate: "+1w",
      changeMonth: true,
      numberOfMonths: 3,
      onSelect: function( selectedDate ) {
        var option = this.id == "from" ? "minDate" : "maxDate",
        instance = $( this ).data( "datepicker" ),
        date = $.datepicker.parseDate(
          instance.settings.dateFormat ||
          $.datepicker._defaults.dateFormat,
          selectedDate, instance.settings );
        dates.not( this ).datepicker( "option", option, date );
      }
    });
  });

%h2 Update your vacation time

= form_tag :method => :put do
  = render :partial => 'event_form'
  = submit_tag 'Update vacation time'
