%h1 Calendar

#calendar-links
  #add-seg
    = link_to 'Add a vacation segment', new_nurse_calendar_path
  #print-link
    = link_to_function("Print the calendar", "javascript:print()")

#calendar
  - counter = 0
  - @strips.each do |s|
    - @event_strips = s
    - @year  = @year_month[counter][0]
    - @month = @year_month[counter][1]
    - @shown_month = Date.civil(@year, @month)
    = raw(event_calendar)
    - counter += 1
    - if counter < @strips.length
      %br{:style => "page-break-before:always"}
