/* application.scss */
$dark-gray: #454545;
$lite-gray: #d5d0cf;
$off-white: #e4e3e3;
$gray: #7c7c7c;
$teal: #47a19c;
$dark-teal: #00a198;
$orange: #cd3301;
$dark-orange: #a62900;
$white: #ffffff;
$purple: #791275;

body {
  background-color: $lite-gray;
  color: $dark-gray;
  font-family: 'Open Sans', sans-serif;

}

#container {
  margin: 80px auto 0 auto;
  width: 960px;
}

#header {
  position: relative;
  text-transform: uppercase;
  .left {
    font-size: 200%;
    float: left;
    font-weight: bold;
    text-shadow: 0 1px 0 #FFFFFF; 
    position: absolute;
    bottom: 10px;
    vertical-align: text-bottom;
  }
  .right {
    font-size: 12px;
    float: right;
    position: absolute;
    bottom: 10px;
    right: 0;
    ul {
      margin-left: 0;
      padding-left: 0;
      display: inline;
      li {
        padding: 0px 10px;
        border-left: 1px solid $dark-gray;
        list-style: none;
        display: inline;
      }
      li.first {
        border-left: 0px;
      }
    }
  }
}
#navigation {
  ul {
    float: right;
    margin-top: 6px;
    margin-left: 0;
    padding-left: 0;
    display: inline;
    li {
      padding: 8px 10px 0px 10px;
      border-left: 2px solid $gray;
      list-style: none;
      display: inline;
    }
    li.first {
      border-left: 0px;
    }
  }
}

#content {padding: 0 0 30px 0;}


.clear {clear: both;}

.separator {
  width: 100%;
  margin: 0 auto;
  border-bottom: 2px solid $gray;
}

h1 {
  text-align: center;
  font-size: 300%;
  font-family: 'Merriweather', serif;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 0 1px 0 #FFFFFF; 
}

a {
  font-weight: bold;
  text-decoration: none;
  color: $orange;
  &:hover {
    color: $dark-orange;
    td { color: $dark-orange; }
  }
}



table {
  width: 95%;
  margin: 0 auto;
  font-size: 95%;
  th {
    background-color: $orange;
    color: $lite-gray;
    text-transform: uppercase;
    text-align: left;
   }
  td, th {
    padding: 0 8px;
  }
  tr {
    &.odd {
      td {background-color: #e4e3e3;}
      &:hover {td {background-color: #d2d1d1;}}
    }
    &.even {
      td {background-color: #dadada;}
      &:hover {td {background-color: #d2d1d1;}}
    }
  }
}

label {
  padding: 10px 4px; 
}

#footer {
  font-size: 95%;
  text-align: center;
  padding: 20px;
}

.flash-msg {
  font-weight: bold;
  color: $orange;
  background-color: $off-white;
  border: 1px solid $orange;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 8px 0;
  font-size: 90%;
  text-transform: uppercase;
  ul {
    list-style-type: none;
    padding: 0px;
  }
}

#add-seg {
  width:500px; 
  float:left;
}

#print-link{
  width:400px; 
  float:right; 
  display:block; 
}

#calendar-links{
  margin-bottom:40px;
}
input {
  border: 1px;
  font-family: 'Open Sans', sans-serif;
  background-color: $off-white;
  margin: 10px 5px 10px 5px;
  border-radius: 3px;
  padding: 3px;
}



input[type="submit"] {
  border-radius: 5px;
  width: auto;
  padding: 6px 10px;
  background-color: $orange;
  color: $white;
  border: none;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 85%;
  &:hover {
    background-color: $dark-orange;
    cursor: pointer;
  }
}

