/* shared.scss */
$dark-gray: #454545;
$lite-gray: #d5d0cf;
$gray: #7c7c7c;
$orange: #cd3301;
$dark-orange: #a62900;
$white: #ffffff;
$off-white: #e4e3e3;
$lite-purple: #410140;
$purple: #310030;

body {
  background-color: $lite-gray;
  color: $dark-gray;
  font-family: 'Open Sans', sans-serif;
}

.flash-msg {
  font-weight: bold;
  color: $orange;
  background-color: $off-white;
  border: 1px solid $orange;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 8px 0;
  font-size: 90%;
  text-transform: uppercase;
  ul {
    list-style-type: none;
    padding: 0px;
  }
}
.clear {clear: both;}
input[type="submit"], #login input[type="submit"] {
  border-radius: 5px;
  width: auto;
  padding: 6px 10px;
  background-color: $orange;
  color: $white;
  border: none;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 85%;
  &:hover {
    background-color: $dark-orange;
    cursor: pointer;
  }
}


