/* application.scss */
body {
  background-color: #d5d0cf;
  color: #454545;
  font-family: 'Open Sans', sans-serif; }

#container {
  margin: 80px auto 0 auto;
  width: 960px; }

#header {
  position: relative;
  text-transform: uppercase; }
  #header .left {
    font-size: 200%;
    float: left;
    font-weight: bold;
    text-shadow: 0 1px 0 #FFFFFF;
    position: absolute;
    bottom: 10px; }
  #header .right {
    float: right;
    position: absolute;
    bottom: 10px;
    right: 0; }
    #header .right ul {
      margin-left: 0;
      padding-left: 0;
      display: inline; }
      #header .right ul li {
        padding: 3px 15px;
        border-left: 1px solid #454545;
        list-style: none;
        display: inline; }
      #header .right ul li.first {
        border-left: 0px; }

#content {
  padding: 0; }

.clear {
  clear: both; }

.separator {
  width: 100%;
  margin: 0 auto;
  border-bottom: 2px solid #7c7c7c; }

h1 {
  text-align: center;
  font-size: 300%;
  font-family: 'Merriweather', serif;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 0 1px 0 #FFFFFF; }

a {
  font-weight: bold;
  text-decoration: none;
  color: #47a19c; }
  a:hover {
    color: #00a198; }
