/* application.scss */
body {
  background-color: #d5d0cf;
  color: #454545;
  font-family: 'Open Sans', sans-serif; }

#container {
  margin: 80px auto 0 auto;
  width: 960px; }

#header {
  position: relative;
  text-transform: uppercase; }
  #header .left {
    font-size: 200%;
    float: left;
    font-weight: bold;
    text-shadow: 0 1px 0 #FFFFFF;
    position: absolute;
    bottom: 10px;
    vertical-align: text-bottom; }
  #header .right {
    font-size: 12px;
    float: right;
    position: absolute;
    bottom: 10px;
    right: 0; }
    #header .right ul {
      margin-left: 0;
      padding-left: 0;
      display: inline; }
      #header .right ul li {
        padding: 0px 10px;
        border-left: 1px solid #454545;
        list-style: none;
        display: inline; }
      #header .right ul li.first {
        border-left: 0px; }

#navigation ul {
  float: right;
  margin-top: -2px;
  margin-left: 0;
  padding-left: 0;
  display: inline; }
  #navigation ul li {
    padding: 0px 10px;
    border-left: 1px solid #454545;
    list-style: none;
    display: inline; }
  #navigation ul li.first {
    border-left: 0px; }

#content {
  padding: 0 0 30px 0; }

.clear {
  clear: both; }

.separator {
  width: 100%;
  margin: 0 auto;
  border-bottom: 2px solid #7c7c7c; }

h1 {
  text-align: center;
  font-size: 300%;
  font-family: 'Merriweather', serif;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 0 1px 0 #FFFFFF; }

a {
  font-weight: bold;
  text-decoration: none;
  color: #cd3301; }
  a:hover {
    color: #a62900; }
    a:hover td {
      color: #a62900; }

table {
  width: 95%;
  margin: 0 auto;
  font-size: 95%; }
  table th {
    background-color: #cd3301;
    color: #d5d0cf;
    text-transform: uppercase;
    text-align: left; }
  table td, table th {
    padding: 0 8px; }
  table tr.odd td {
    background-color: #e4e3e3; }
  table tr.odd:hover td {
    background-color: #d2d1d1; }
  table tr.even td {
    background-color: #dadada; }
  table tr.even:hover td {
    background-color: #d2d1d1; }

label {
  padding: 10px 4px; }

#footer {
  font-size: 95%;
  text-align: center;
  padding: 20px; }

#flash .error {
  color: red; }
#flash .notice {
  color: #cd3301; }

#add-seg {
  width: 500px;
  float: left; }

#print-link {
  width: 400px;
  float: right;
  display: block; }

#calendar-links {
  margin-bottom: 40px; }
