/* login.scss */
body {
  background-color: #d5d0cf; }

#login {
  width: 600px; }

#container {
  font-family: 'Open Sans', sans-serif;
  color: white;
  background-image: url("../mascot.png");
  background-position: right bottom;
  background-repeat: no-repeat;
  margin: 85px auto 0 auto;
  width: 880px;
  height: 490px; }

#login #header {
  font-size: 50px;
  text-align: center;
  color: #cd3301;
  text-align: left; }

#login #content {
  width: 500px;
  border-radius: 100px 100px;
  border-bottom-left-radius: 120px 100px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 100px 150px;
  background-color: #7c7c7c;
  padding: 50px; }

#login input {
  border: 1px;
  font-family: 'Open Sans', sans-serif;
  background-color: #969696;
  height: 30px;
  width: 250px;
  margin: 10px 5px 10px 5px;
  border-radius: 3px;
  color: #FFFFFF;
  padding-left: 7px;
  padding-right: 7px; }

#login #signup input.submit {
  width: 200px;
  height: 106px;
  background-color: #310030;
  border: none;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 120%;
  border-radius: 10px;
  padding-left: 7px;
  padding-right: 7px; }
#login #signup input.submit:hover {
  background-color: #410140;
  cursor: pointer; }
#login input.submit {
  border-radius: 5px;
  width: auto;
  padding: 0 10px;
  background-color: #cd3301;
  color: white;
  border: none;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 85%; }
  #login input.submit:hover {
    background-color: #a62900;
    cursor: pointer; }

.left {
  float: left; }

.right {
  float: right; }

#login .left {
  width: 60%; }

#login .right {
  position: absolute;
  bottom: 33px;
  right: 0; }

.clear {
  clear: both; }

#login #form {
  position: relative; }

#login #footer {
  color: #454545;
  text-align: right;
  font-size: 90%; }

#remember-me .checkbox {
  width: 30px; }

a {
  font-weight: bold;
  text-decoration: none;
  color: #310030; }
  a:hover {
    color: #410140; }

.login-links {
  font-size: 80%;
  padding-left: 20px; }

.flash-msg {
  font-weight: bold;
  color: #cd3301;
  background-color: #e4e3e3;
  border: 1px solid #cd3301;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 8px 0;
  font-size: 90%;
  text-transform: uppercase; }
  .flash-msg ul {
    list-style-type: none;
    padding: 0px; }

.remember-left {
  float: left;
  width: 30px; }

.remember-right {
  float: left;
  position: absolute;
  left: 30px;
  bottom: 6px; }
