/* shared.scss */
body {
  background-color: #d5d0cf;
  color: #454545;
  font-family: 'Open Sans', sans-serif; }

.flash-msg {
  font-weight: bold;
  color: #cd3301;
  background-color: #e4e3e3;
  border: 1px solid #cd3301;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 8px 0;
  font-size: 90%;
  text-transform: uppercase; }
  .flash-msg ul {
    list-style-type: none;
    padding: 0px; }

.clear {
  clear: both; }

input[type="submit"] {
  border-radius: 5px;
  width: auto;
  padding: 6px 10px;
  background-color: #cd3301;
  color: white;
  border: none;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 85%; }
  input[type="submit"]:hover {
    background-color: #a62900;
    cursor: pointer; }
