%ul
  %li.first
    =link_to_unless_current 'Home', root_path
  %li
    =link_to_unless_current 'Upload', admin_upload_path
  %li
    =link_to_unless_current 'Admin Cal', admin_calendar_path
  %li
    -first_nurse = Nurse.find(:first)
    -if first_nurse
      =link_to_unless_current 'Nurse Cal', "/nurse/#{Nurse.find(:first).id.to_s}/calendar"
  %li
    -if nurse_signed_in?
      = link_to 'Logout', destroy_nurse_session_path, :method => :delete
    -if admin_signed_in?
      = link_to 'Logout', destroy_admin_session_path, :method => :delete

