@charset "utf-8";
/* CSS Document */

body {
  background-color: #46433A;
}

#login {
  width: 600px;
}

#container {
  font-family: 'Open Sans', sans-serif;
  color: #46433A;
  background-image:url('mascot.png');
  background-position: right bottom;
  background-repeat: no-repeat;
  margin: 85px auto 0 auto;
  width: 880px;
  height: 490px;
}
  

#login #header { 
  font-size: 50px;
  text-align: center;
  color: #FFFFFF;
  text-align: left;
}

#login #content{
  width: 500px;
  border-radius: 100px 100px;
  border-bottom-left-radius: 120px 100px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 100px 150px;
  background-color:#ded4b9;
  padding: 50px;
}

#login input {
  border: 1px;
  font-family: 'Open Sans', sans-serif;
  background-color:#8a8472;
  height: 30px;
  width: 250px;
  margin: 10px 5px 10px 5px;
  border-radius: 3px;
  color: #FFFFFF;
  padding-left: 7px;
  padding-right: 7px;
}

#login input.submit {
  width: 200px;
  height: 106px;
  background-color: #47a19c;
  border: none;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 120%;
  border-radius: 10px;
  padding-left: 7px;
  padding-right: 7px;
}

#login input.submit:hover {
  background-color: #56b4ae;
}

.left {
  float: left;
}

.right {
  float: right;
}

#login .left {
  width: 60%;
}

#login .right {
  position: absolute; 
  bottom: 0;
  right: 0;
}

.clear { 
  clear: both;
}

#login #form {
  position: relative;
}

#login #footer {
  color: #ffffff;
  text-align: right;
  font-size: 90%;
}
