<p>Hello <%= @resource.name %>!</p>

<p>Your nurse administrator has set up an account for you at <%= root_url %>. At this site, you will be able to scehdule your vacations. You can finish setting up your account through the link below.</p>

<p><%= link_to 'Accept invitation', accept_invitation_url(@resource, :invitation_token => @resource.invitation_token) %></p>

<p> Please contact your nurse administrator for further assistance.<br />
  Your account won't be useable until you access the link above and set your password.</p>
